.x-auth-modal {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    &__container {
        width: 500px;
    }

    &__logo {
        // height: 167px;
        background-color: $primary;
        text-align: center;
        border-radius: 5px 5px 0 0;
        padding: 2em;

        img {
            margin: 1.6em 0 1.4em 0;
            width: 10em;
            vertical-align: middle;
        }
    }

    &__children {
        background-color: #f9f9f9;
        border-radius: 0 0 5px 5px;
        font-weight: bold;
    }

}