.x-modal-change-password{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 0 38px;

    p{
        text-align: center;
        font-weight: bold;
        letter-spacing: 0;
        color: #5d5d5d;
        border-bottom: 1px solid #bebebe;
        width: 390px;
        margin-top: 67px;
        padding-bottom: 4px;

    }

    input{
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background-color: $lightGrey;
        color: #afafaf;
        margin: 20px 50px 0 50px;
        height: 33px;
        padding-left: 10px;

        &::placeholder{
            font-weight: bold;
            font-size: 13px;
            line-height: 15px;
            color: #AFAFAF;
            
        }

    }

    #hr{
        border-bottom: 1px solid #bebebe;
        margin: 20px 50px 0 50px;

    }

    #buttons{
        margin-top: 30px ;
        margin-bottom: 27px ;

        text-align: center;

        button{
            margin: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $lightGrey;
            width: 113px;
            height: 33px;


        }
    }
}