.x-header {
    background-color: $darkBlue;
    width: 100%;
    flex: 0 1;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;

    .x-logo {
        margin: 1.6em 0 1.4em 0;
        width: $sideWidth;
        text-align: center;
        vertical-align: middle;
    }

    .x-spacer {
        flex-grow: 1;
    }

    .x-date {
        margin: 1em;
    }

    .x-user-header {
        margin: 1em 2em;
        display: flex;
        font-size: 1.25em;



        &__text {
            margin-left: 1em;
            display: flex;
            flex-direction: column;

        }

        &__admin{
            text-decoration: underline;
        }


        svg {
            position: relative;
            left: .4em;
            top: -.1em;
            font-size: 1.25em;
            // padding-left: 2em;
            // margin-left: 2em;
        }


    }
}