.x-profile-container {
    background-color: white;
    width: 98%;
    margin: auto;
    margin-top: 8em;
    padding: 3em 3em 0 5em;
    height: 30em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    // user-select: none;
    //flex: 1 0;

    &-header {
        display: flex;
        padding-bottom: 2em;
        border-bottom: 1px solid #333;

        &-name {
            flex-grow: 1;
            color: $darkBlue;
            font: 600 30px/38px 'Rajdhani';

            span {
                color: $textGrey;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0;
                vertical-align: middle;
            }
        }

        button {
            width: 4.3rem;
        }
    }

    &-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 20em;
        width: 20%;
    }

    &-block {
        display: flex;
        flex-direction: column;
        margin: 3em 3em 0 0;
        // background-color: #f04;
        width: 14em;
        pointer-events: none;
        border-bottom: transparent solid 1px;


        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $textGrey;
            margin: 0;
        }

        input {
            border: none;
            background-color: transparent;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: $darkBlue;
            overflow: visible;
            text-overflow: ellipsis;
        }

        #password-block {
            display: flex;

            #password-label {
                flex-grow: 1;
            }

            #password-change {
                cursor: pointer;
                color: $primary;
                text-decoration: underline;
            }
        }

    }

    .x-col-2 {
        width: 24em;
    }

    &.edit {
        background-color: #e3e3e3;

        .x-profile-container-block {
            border-bottom: #333 solid 1px;
            // user-select: auto;
            pointer-events: auto;

            input {
                color: #333;

                
            }
            #password-input {
                pointer-events: none;
            }

        }
    }
}

.x-hidden {
    visibility: hidden;
}