@import 'variables';
@import 'header';
@import 'sidebar';
@import 'grid';
@import 'organisations';

* {
  margin: 0;
}

html {
  height: 1080px;
  width: 1920px;
  font-family: roboto;
  margin: auto;
  // position: relative;
  // vertical-align: middle;
}

body {
  font-family: roboto;
  height: 100%;
  // margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.x-main {
  // background-color: blue;
  flex: 1 0;
  display: flex;
  flex-direction: row;
}

.x-content {
  background-color: $midGrey;
  flex: 1;
  padding: 2em;
}

.x-page-title {
  color: $darkBlue;
}

.x-breadcrumb {
  margin: 1em;
}