@import 'variables';
@import "bootstrap/scss/bootstrap";
// @import "bootstrap/scss/_functions";
// @import "bootstrap/scss/_variables";
// @import "bootstrap/scss/_mixins";
@import 'transitions';
@import 'header';
@import 'auth-modal';
@import 'sidebar';
@import 'grid';
@import 'organisations';
@import 'login';
@import 'profile';
@import 'modal';
@import 'backdrop';
@import 'change-password-modal';
@import 'reset-password';


* {
  margin: 0;
}

html {
  height: 100%;
  //width: 1920px;
  min-width: 480px;
  // font-family: roboto;
  margin: auto;
  background-color: white;
  // position: relative;
  // vertical-align: middle;
}

body {
  background-color: $darkBlue;
  font-family: roboto;
  height: 100%;
  // margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.x-main {
  // background-color: blue;
  flex: 1 0;
  display: flex;
  flex-direction: row;
}

.x-content {
  background-color: $midGrey;
  flex: 1;
  padding: 2em;
}

.x-page-title {
  color: $darkBlue;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0;

}

.x-breadcrumb {
  margin: 1em;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  color: #333;
}
