$lightBlue: #0799d4;
$darkBlue: #005792;
$lightGrey: #f7f7f7;
$midGrey: #ececec;

html {
  height: 1080px;
  width: 1920px;
  font-family: roboto;
  margin: auto;
  // position: relative;
  // vertical-align: middle;
}
body {
  height: 100%;
  //margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.x-header {
  background-color: $darkBlue;
  width: 100%;
  flex: 0 1;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  
  .x-logo {
    margin: 1.5em;
  }
  .x-spacer{
    flex-grow: 1;
  }
  .x-date {
    font-size: 1em;
    margin: 1em;
  }
  .x-user {
    font-size: 1em;
    margin: 1em 2em;
  }
}

.x-main {
  background-color: blue;
  flex: 1 0;

  display: flex;
  flex-direction: row;
}

.x-side {
  background-color: $lightBlue;
  padding-top: 1em;
}

.x-content {
  background-color: $midGrey;
  flex: 1;
  padding: 1em;
}

.x-side-button {
  color: $lightGrey;
  margin-bottom: 0.4em;
  padding: 0.6em 1em;
  span {
    padding-left: 0.4em;
  }

  &.active {
    background-color: darken($lightBlue, 10%);
  }
}
